.header{
	background-color: rgb(52, 73, 94);
	color:rgb(236, 240, 241);
	padding:15px 0 15px 0;
}
	.header__title{
		font-size:1.3em;
		margin:0;
	}
	.header__subtitle{ font-size:1.2em; }	
	
.user{
	text-align:right;
}
	.user__data{
		display:block;
		font-size:.85em;
		margin-bottom:5px;
	}
.navbar{
	border-radius:0;
	margin-bottom:0;
}
.content{ padding-top:15px; }
.module{ text-align:center; }
#alert{ display:none; }
.text-center{ text-align:center; }